<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
</head>
<body>
<p>Свободные книги:</p>
<div th:each="book : ${freeBooks}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">
    </a>
</div>

<p>Занятые книги:</p>
<div th:each="book : ${occupiedBooks}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">
    </a>
</div>

<br/>
<hr/>

<a href="/books/new">Добавить новую книгу</a>
<br/>
<a href="/people">К списку клиентов</a>

</body>
</html>