<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.getName()}">Книга</title>
</head>
<body>

<p th:text="${'Id: ' + book.getId()}">VALUE</p>
<p th:text="${'Название: ' + book.getName()}">VALUE</p>
<p th:text="${'Автор: ' + book.getAuthor()}">VALUE</p>
<p th:text="${'Год: ' + book.getYear()}">VALUE</p>

<div th:if="${people}">
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <label for="person">Книга свободна:</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}"
                    th:text="${person.getFullName()}"></option>
        </select>

        <input type="submit" value="Назначить книгу!">
    </form>
</div>

<div th:if="${bookOwnerName}">
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <label for="person" th:text="'Текущий владелец книги: ' + ${bookOwnerName}"></label>
        <input type="submit" value="Освободить книгу!">
    </form>
</div>

<p><a th:href="@{/books/{id}/edit(id=${book.getId()})}">Изменить данные</a></p>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить!">
</form>
</body>
</html>